<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>To Do App</title>
</head>

<header>
  <h1 style="flex:50%; cursor:pointer;">TO DO LISTS</h1>
  <a href='login.html'class="logout">Logout</a>
</header>

<body>
  <!--FILTER BAR-->
  <div class="filter-bar">
    <div class="filter">
      category
    </div>
    <div class="filter">
      sort
    </div>
    <div class="filter">
      
    </div>
  </div>
  
  
  <div class="body" style="max-width:700px">
    <div class="list-box">
      <h1>Hi, [Name]!</h1>
      <h2>Here's what you should be doing..</h2>
      
      <div class="task">
        <button class="complete"></button>
        number 1 !
      </div>
      <div class="task">
        <button class="complete"></button>
        number 2 !
      </div>
      
      <button class="edit">EDIT</button>
    </div>
    
  </div>
  
  <script>
    const buttons = document.querySelectorAll('.button');

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        button.classList.add('active');
        });
    });
  </script>
</body>
    
<footer>
  Made by Hannah Heflin
</footer>

</html>
