<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>To Do App</title>
</head>

<header>
  <h1 style="flex:50%; cursor:pointer;">TO DO LISTS</h1>
  <button type="button" class="button">Logout</button>
</header>
<body>
  
  <div class="body">
    <h1>Welcome, [Name]!</h1>
    <h2>Lists:</h2>
    
    <!--loop display lists-->
    <button class="list">[Name of List]</button>
    <div class="tasks">
      <p>do this</p>
    </div>
    
  </div>
     
  <script>
    var acc = document.getElementsByClassName("list");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
    
        var tasks = this.nextElementSibling;
        if (tasks.style.display === "block") {
          tasks.style.display = "none";
        } else {
          tasks.style.display = "block";
        }
      });
    }
  </script>
</body>
    
<footer>
  Made by Hannah Heflin
</footer>

</html>
