<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" />
        <title>Login</title>

    </head>

    <header>
        <h1 style="flex:50%; cursor:pointer; text-align:center;">TO DO LISTS</h1>
    </header>

    <body style="background-color:darkgray">
        <div style="color:lightgray;font-size:13px;"class="login">
            <form>
                <h3 style="text-align:center;margin-bottom:30px;color:#FF00B2;font-size:30px">SIGN IN</h3>
              
                <!--display error message if applicable-->
                <!--{% if messages %}-->
                <div class="error-message">
                  <!--{%for message in messages%}-->
                   <!--{{message}}-->
                    Error Message
                  <!--{% endfor %}-->
                </div>
                <!--{%endif%}-->

                <!--Username Input Field-->
                <div class="form-group">
                    <input type="text" class="input" 
                        name="username" id="exampleInputEmail1"
                        placeholder="Username"required><br><br>
                      
                </div>
                  
                <!--Password Input Field-->
                <div class="form-group">
                    <input type="text" class="input"
                        name="password" id="exampleInputPassword1"
                        placeholder="Password" required>
                </div>

                <!--Redirect to Register Page if they dont have account-->
                <div style="display:flex; position:relative; justify-content:space-between; width:100%; padding-bottom:15px;">
                  Dont have an account?<a href='/register/'>Register</a>
                </div>
                <!--Submit button-->
                <button type="submit" class="submit">Login</button>
            </form>   
        </div>
    </body>

    <footer>
        Made by Hannah Heflin
    </footer>

</html>
