<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" />
        <title>Login</title>

    </head>

    <header>
        <h1 style="flex:50%; cursor:pointer;">TO DO LISTS</h1>
        <button type="button" class="button">Logout</button>
    </header>

    <body style="background-color:darkgray">
        <div class="login">
            <form>
                <h3>Login</h3>
                <!--display error message if applicable-->
                {% if messages %}
                <div class="alert alert-primary" role="alert">
                    {%for message in messages%}
                    {{message}}
                    {%endfor%}
                </div>
                {%endif%}

                <!--Username Input Field-->
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" 
                        name="username" id="exampleInputEmail1" 
                        placeholder="Enter Username" required>
                </div>
                <!--Password Input Field-->
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="text" class="form-control"
                        name="password" id="exampleInputPassword1"
                        placeholder="Enter Password" required>
                </div>

                <!--Redirect to Register Page if they dont have account-->
                <p>Don't have an account? <a href='/register/'>Register</a></p>
                <!--Submit button-->
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
                
        </div>
    </body>

    <footer>
        Made by Hannah Heflin
    </footer>

</html>